accessible-pygments==0.0.5
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-cors==0.8.1
aiosignal==1.4.0
alabaster==0.7.16
anyio==4.10.0
argcomplete==3.6.2
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
dnspython==2.7.0
docutils==0.20.1
expandvars==1.1.1
filelock==3.19.1
frozenlist==1.7.0
fsspec==2025.7.0
furo==2025.7.19
h11==0.16.0
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
Jinja2==3.1.6
killport==1.2.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
motor==3.7.1
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
myst-parser==4.0.1
networkx==3.5
numpy==2.3.2
packaging==25.0
params_proto==2.13.2
pillow==11.3.0
pluggy==1.6.0
propcache==0.3.2
psutil==7.0.0
Pygments==2.19.2
pymongo==4.14.1
pytest==8.4.1
pytest-asyncio==1.1.0
python-dotenv==1.1.1
PyYAML==6.0.2
redis==6.4.0
requests==2.32.5
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==7.1.2
sphinx-autobuild==2024.10.3
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-video @ git+https://github.com/QuLogic/sphinxcontrib-video.git@634ce982244ae9fee29958524536f5288b49c5d5
starlette==0.47.2
sympy==1.14.0
termcolor==3.1.0
torch==2.8.0
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.35.0
watchfiles==1.1.0
waterbear==2.6.8
websockets==15.0.1
yarl==1.20.1
