_build
.idea
.vscode
.pytest_cache
.mypy_cache
__pypackages__
.env
.env.*
.venv
venv*/
env*/
ENV/
env.bak/
venv.bak/
celerybeat-schedule
celerybeat.pid
*.sqlite3
*.sqlite
*.db
*.db-journal
.xml
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
.installed.cfg
*.egg-info/